.mainBoard  {
    width: 500px;
    justify-content: space-between;
}

.mainBoard img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.guesses {
    display: grid;
    align-items: center;
    text-align: center;
}

.guesses p {
    min-width: 150px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 20px;
    cursor: pointer;
    opacity: 0.7;
}

.guesses p:hover {
    opacity: 1;
}

.artistImageBox {
    display: flex;
    align-items: center;
}





/***** Media Queries *****/


/* Tablets */
@media only screen and (max-width: 700px) {
  
    .mainBoard  {
        width: 80%;
    }

    .guesses p {
        width: auto;
    }
    
  }


  /* Mobiles */
  @media only screen and (max-width: 550px) {
  
    .mainBoard img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    .guesses p {
        padding: 10px;
    }
    
  }


 /* Small Mobiles */
 @media only screen and (max-width: 480px) {

    .mainBoard  {
        flex-direction: column;
        align-items: center;
    }
    
  }
  