.mainBoard  {
    width: 500px;
    justify-content: space-between;
}

.mainBoard img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



.artistImageBox {
    display: flex;
    align-items: center;
}





/***** Media Queries *****/


/* Tablets */
@media only screen and (max-width: 700px) {
  
    .mainBoard  {
        width: 90%;
    }
    
  }


  /* Mobiles */
  @media only screen and (max-width: 550px) {
  
    .mainBoard img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    
  }


 /* Small Mobiles */
 @media only screen and (max-width: 480px) {

    .mainBoard  {
        flex-direction: column;
        align-items: center;
    }
    
  }
  