.topPanel h1 {
    font-size: 51px;
    font-weight: 400;
}

.topPanel p {
    text-align: center;
}




 /* Small Mobiles */
 @media only screen and (max-width: 480px) {

    .topPanel h1 {
        font-size: 42px;
    }
    
  }
  