@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    background: #33b6fa !important;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}